/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
.header {
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, #55c57a, rgba(126, 213, 111, 0.5)), url(../img/hero.jpg);
  background-color: #777;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
  text-align: center; }
  .header__logo--box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3rem; }
  .header__text--box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

* {
  margin: 0;
  padding: 0; }

body {
  font-size: 62.5%;
  box-sizing: border-box; }

.primary-text {
  color: #fff;
  font-family: 'Lato',sans-serif;
  backface-visibility: hidden; }
  .primary-text--main {
    display: block;
    font-size: 5rem;
    line-height: 1.7;
    letter-spacing: 1rem;
    margin: 0 auto;
    animation-name: fromLeft;
    animation-duration: 2s; }
  .primary-text--sub {
    display: block;
    font-size: 1.5rem;
    word-spacing: 2rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 3rem;
    animation-name: fromRight;
    animation-duration: 1s; }

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
.btn {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 15rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  line-height: 1.7;
  color: #777;
  background-color: #fff;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s; }
  .btn::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #fff;
    top: 0;
    left: 0;
    transition: all .5s;
    border-radius: 1rem;
    z-index: -1; }
  .btn:hover {
    transform: translate(0, -0.3rem); }
    .btn:hover::after {
      background-color: #00ff0d;
      opacity: 0;
      transform: scale(1.2, 1.5);
      border-radius: 1rem; }
  .btn:active {
    transform: translate(0, -0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }
  .btn--animated {
    animation-name: fromBottom;
    animation-duration: 1s; }

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fromRight {
  0% {
    transform: translate(50%, 0);
    opacity: 0; }
  90% {
    transform: translate(-5%, 0);
    opacity: 0.9; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes fromBottom {
  0% {
    transform: translate(0, 5rem);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }
